:root {
  --color-scheme: var(--no-dark-mode);

  --ff-body: Poppins;
  --ff-button: Roboto;

  --fs-200: clamp(0.74rem, calc(0.78rem + 0.08vw), 0.78rem);
  --fs-300: clamp(0.94rem, calc(0.92rem + 0.08vw), 0.98rem);
  --fs-400: clamp(1.13rem, calc(1.06rem + 0.33vw), 1.31rem);
  --fs-500: clamp(1.35rem, calc(1.21rem + 0.69vw), 1.75rem);
  --fs-600: clamp(1.62rem, calc(1.37rem + 1.24vw), 2.33rem);
  --fs-700: clamp(1.94rem, calc(1.54rem + 2.03vw), 3.11rem);
  --fs-800: clamp(2.33rem, calc(1.7rem + 3.15vw), 4.14rem);
  --fs-900: clamp(2.8rem, calc(1.85rem + 4.74vw), 5.52rem);

  --clr-primary-100: rgba(255, 255, 255, 1);
  --clr-primary-200: rgba(217, 217, 217, 1);
  --clr-primary-300: rgba(173, 173, 173, 1);
  --clr-primary-400: rgba(117, 117, 117, 1);
  --clr-primary-500: rgba(75, 75, 75, 1);
  --clr-primary-600: rgba(64, 64, 64, 1);
  --clr-primary-700: rgba(43, 43, 43, 1);
  --clr-primary-800: rgba(34, 34, 34, 1);
  --clr-primary-900: rgba(30, 30, 30, 1);

  --clr-transp-100: rgba(255, 255, 255, 0.1);
  --clr-transp-200: rgba(237, 237, 237, 0.5);
  --clr-transp-300: rgba(173, 173, 173, 0.7);
  --clr-transp-400: rgba(117, 117, 117, 0.6);
  --clr-transp-500: rgba(75, 75, 75, 0.6);
  --clr-transp-600: rgba(64, 64, 64, 0.7);
  --clr-transp-700: rgba(43, 43, 43, 0.8);
  --clr-transp-800: rgba(34, 34, 34, 0.9);
  --clr-transp-900: rgba(30, 30, 30, 0.9);

  /* settings */
  --no-dark-mode: light;
  --dark-mode: dark light;
}

@font-face {
  font-family: "Poppins";
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/poppins-extralight.woff2") format("woff2")
}

@font-face {
  font-family: "Poppins";
  font-weight: 200;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/poppins-extralightitalic.woff2") format("woff2")
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/poppins-medium.woff2") format("woff2")
}

@font-face {
  font-family: "Poppins";
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/poppins-mediumitalic.woff2") format("woff2")
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/poppins-bold.woff2") format("woff2")
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url("../fonts/poppins-bolditalic.woff2") format("woff2")
}

@font-face {
  font-family: "Roboto";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/roboto-regular.woff2") format("woff2")
}

@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome.woff2") format("woff2"), format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(100%);
  }

  1000% {
    transform: translateY(0%);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  color-scheme: var(--color-scheme);
}

body {
  min-height: 100vh;
  min-height: 100dvh;
  margin: auto;
  text-rendering: optimizeSpeed;
  font-family: var(--ff-body);
  font-weight: 200;
  font-style: normal;
  line-height: 1.6;
  scroll-behavior: smooth;
  background: var(--clr-primary-300);
  background: -moz-radial-gradient(circle, var(--clr-primary-500) 0%, var(--clr-primary-800) 85%);
  background: -webkit-radial-gradient(circle, var(--clr-primary-500) 0%, var(--clr-primary-800) 85%);
  background: radial-gradient(circle, var(--clr-primary-500) 0%, var(--clr-primary-800) 85%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#9c9c9c", endColorstr="#2d2d2d", GradientType=1);
}

body::before {
  position: fixed;
  left: 0;
  bottom: 0;
  content: url(../img/wave1.svg);
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  margin-bottom: -0.5em;
}

.root {
  width: 100vw;
  min-height: 100vh;
  min-height: 100dvh;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

div.root::after {
  position: fixed;
  left: 0;
  bottom: 0;
  content: url(../img/wave0.svg);
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  margin-bottom: -0.5em;
}

div.root::before {
  position: fixed;
  left: 0;
  bottom: 0;
  content: url(../img/wave2.svg);
  width: 100vw;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -2;
  margin-bottom: -0.5em;
}

h1 {
  letter-spacing: 8px;
  font-weight: 500;
  text-shadow: 0 3px 3px var(--clr-transp-500);
  font-size: var(--fs-600);
}

a {
  text-decoration: none;
  color: inherit;
}

h1 span {
  font-weight: 700;
}

p.login-text,
p.signup-text {
  min-width: 0;
  line-height: 1.2;
  font-size: var(--fs-200);
  white-space: pre-line;
  overflow-wrap: break-word;
  text-align: right;
  justify-self: end;
}

p.login-text>span,
p.signup-text>span {
  font-weight: 500;
  cursor: pointer;
}

.login-wrapper,
.signup-wrapper {
  background: var(--clr-transp-200);
  background: -moz-radial-gradient(circle, var(--clr-primary-100) 50%, var(--clr-transp-200) 100%);
  background: -webkit-radial-gradient(circle, var(--clr-primary-100) 50%, var(--clr-transp-200) 100%);
  background: radial-gradient(circle, var(--clr-primary-100) 50%, var(--clr-transp-200) 100%);
  border-radius: 32px;
  align-self: center;
}

.login-content-wrapper,
.signup-content-wrapper {
  min-width: 300px;
  height: 380px;
  padding-inline: 20px;
  display: grid;
  gap: 30px;
  margin-block: 20px;
  justify-items: center;
  justify-content: space-between;
  align-content: center;
}

.login-content-wrapper>h1,
.header-container>.logo {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.signup-content-wrapper {
  gap: 1em;
}

.home-wrapper,
.deposit-wrapper,
.withdraw-wrapper,
.transfer-wrapper,
.transactions-wrapper {
  width: 100vw;
  height: calc(100vh - 57.59px);
  height: calc(100dvh - 57.59px);
  display: flex;
  flex-direction: column;
}

.home-content-wrapper,
.deposit-content-wrapper,
.withdraw-content-wrapper,
.transfer-content-wrapper,
.transactions-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--clr-transp-200);
  background: -moz-radial-gradient(circle, var(--clr-primary-100) 40%, var(--clr-transp-200) 100%);
  background: -webkit-radial-gradient(circle, var(--clr-primary-100) 40%, var(--clr-transp-200) 100%);
  background: radial-gradient(circle, var(--clr-primary-100) 40%, var(--clr-transp-200) 100%);
  border-radius: 32px;
  padding-block: 1.6em;
  width: min(800px, 90vw);
  height: min(500px, 80vh);
  flex: 1 1 auto;
  position: fixed;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dialog-wrapper>p {
  min-width: 0;
  line-height: 1.2;
  font-size: var(--fs-300);
  white-space: pre-line;
  overflow-wrap: break-word;
}

.dialog-wrapper>h3 {
  font-weight: 500;
}

/*--------- Home ---------*/
.home-content-wrapper {
  gap: 1em;
}

.home-left {
  display: grid;
  grid-template-columns: 0.1fr 1fr 1fr 1fr 1fr 0.1fr;
  gap: 0.2em;
}

.home-left-title {
  font-size: var(--fs-500);
  font-weight: 500;
  text-align: right;
  grid-column-start: 2;
  grid-column-end: 6;
  padding-right: 0.2em;
}

.balance-wrapper {
  font-size: var(--fs-400);
  border: none;
  padding: 0.2em 1em;
  border-radius: 16px;
  background-color: var(--clr-primary-500);
  color: var(--clr-primary-200);
  box-shadow: 0 3px 3px 0 var(--clr-transp-500);
  grid-column-start: 2;
  grid-column-end: 6;
  width: 100%;
  text-align: right;
}

.home-left>.icon-button {
  display: grid;
  align-content: center;
  justify-content: center;
  border-radius: 16px;
  background-color: var(--clr-primary-700);
  color: var(--clr-primary-200);
  box-shadow: 0 3px 3px 0 var(--clr-transp-500);
  width: 60px;
  height: 60px;
}

.home-icon {
  text-align: center;
  font-size: var(--fs-700);
  align-self: center;
}

.home-left>:nth-child(3) {
  grid-column-start: 2;
  grid-column-end: 3;
}

.home-left>:nth-child(4) {
  grid-column-start: 3;
  grid-column-end: 4;
}

.home-left>:nth-child(5) {
  grid-column-start: 4;
  grid-column-end: 5;
}

.home-left>:nth-child(6) {
  grid-column-start: 5;
  grid-column-end: 6;
}

.home-left>.icon-button:is(:hover, :focus-visible) {
  background-color: var(--clr-primary-500);
  box-shadow: 0 3px 3px 0 var(--clr-transp-600);
  color: var(--clr-primary-100);
}


.home-right {
  flex: 1 1 0;
  display: grid;
  grid-template-columns: 0.06fr [content-start] 1fr [content-end] 0.06fr;
  gap: 0.2em;
  background-color: var(--clr-transp-200);
  border-radius: 16px;
  min-height: 50%;
  align-content: start;
  padding-top: 0.4em;
  min-width: 250px;
}

.home-right>* {
  grid-column: content;
}

.home-right-title {
  font-size: var(--fs-400);
  text-align: center;
  font-weight: 500;
}

.home-history-wrapper {
  display: grid;
  gap: 1em;
  overflow-y: auto;
}

.history-item-title {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  padding-right: 1em;
}

.transactions-content-wrapper {
  padding: 2em;
  display: grid;
  gap: .4em;
}

.transactions-content-wrapper>:is(h2, h3) {
  text-align: center;
}

.transactions-content-wrapper>:is(h3) {
  background: var(--clr-primary-700);
  color: var(--clr-primary-200);
  border-radius: 16px;
  padding: .3em 1em;
}

.transactions-title {
  font-size: var(--fs-500);
  font-weight: 500;
}

.transactions-history-wrapper {
  max-height: 280px;
  overflow-y: auto;
}

.transactions-balance {
  font-size: var(--fs-400);
}

.transactions-balance>span {
  font-weight: 500;
}

.deposit-content-wrapper,
.withdraw-content-wrapper {
  display: flex;
  gap: 1em;
  padding: 1em;
}

.deposit-content-wrapper>:is(h2),
.withdraw-content-wrapper>:is(h2)  {
  font-size: var(--fs-400);
  font-weight: 500;
}

.deposit-content-wrapper>form>.input-wrapper,
.withdraw-content-wrapper>form>.input-wrapper,
.input-wrapper>#deposit-amount,
.input-wrapper>#withdraw-amount{
  min-width: 200px;
  text-align: right;
}

.deposit-balance-div,
.withdraw-balance-div {
  width: fit-content;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.deposit-content-wrapper>.input-wrapper,
.withdraw-content-wrapper>.input-wrapper {
  margin-top: 0.6em;
}

.deposit-content-wrapper>.balance-wrapper,
.withdraw-content-wrapper>.balance-wrapper {
  width: min(400px, 80vw);
  background-color: var(--clr-primary-700);
}

.transfer-content-wrapper>:is(h2) {
  font-size: var(--fs-500);
  font-weight: 500;
}

.contacts-wrapper {
  width: min(500px, 80vw);
  display: grid;
  grid-template-rows: 3fr 0.8fr 0.8fr;
  justify-items: center;
  justify-content: center;
  height: max(180px, 70%);
  margin-top: 1em;
}

.contacts-wrapper>:is(button, div, .button) {
  margin-top: 1em;
}

.contacts-wrapper>:is(h3) {
  font-size: var(--fs-400);
  font-weight: 500;
  text-align: center;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--clr-primary-700);
  border-style: none none solid none;
}

.contacts-list {
  overflow-y: auto;
  width: min(500px, 70vw);
  margin-bottom: 0.8rem;
}

.contacts-list> :first-child {
  border-style: solid none solid none;
}

.contact-label {
  visibility: visible !important;
  color: var(--clr-primary-800);
  font-weight: 500;
  font-size: var(--fs-300);
  display: grid;
  padding-inline: 2em;
}

.contact-label:hover,
.contact-label:focus-visible {
  background-color: var(--clr-primary-400);
  color: var(--clr-primary-100);
}

input[type="radio"]:checked+label {
  background-color: var(--clr-primary-600);
  color: var(--clr-primary-100);
}

.contact-label>span {
  font-weight: 300;
  font-size: var(--fs-300);
  text-wrap: pretty;
}

.input-wrapper>#transfer-amount {
  text-align: right;
}

.no-contact {
  height: 100%;
  text-align: center;
}


/* -------- Scroll bar -------- */

::-webkit-scrollbar {
  width: 10px;
  margin-left: 1em;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*------- Footer ----------*/
footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  color: var(--clr-primary-400);
  font-size: var(--fs-200);
  font-family: Poppins;
  text-align: center;
  font-weight: 200;
}

/* ------- Buttons ------- */

button, .button {
  font-family: var(--ff-button) !important;
  font-size: var(--fs-400);
  border: none;
  padding: 2px 50px;
  border-radius: 16px;
  background-color: var(--clr-primary-500);
  color: var(--clr-primary-200);
  box-shadow: 0 3px 3px 0 var(--clr-transp-500);
}

button.icon-button, .button.icon-button {
  padding: 1em;
  cursor: pointer;
}

button:is(:hover, :focus-visible), .button:is(:hover, :focus-visible) {
  background-color: var(--clr-primary-400);
  box-shadow: 0 3px 3px 0 var(--clr-transp-600);
  color: var(--clr-primary-100);
}

button:active, .button:active {
  background-color: var(--clr-primary-700);
  box-shadow: 0 2px 2px 0 var(--clr-transp-500);
}

.close-button {
  cursor: pointer;
}
/* ------- Inputs ------- */

.input {
  padding-inline: 0.6em;
  border-radius: 16px;
  max-width: 12.5rem;
  min-width: 250px;
  height: 2.5rem;
  color: var(--clr-primary-400);
  border: 1px solid var(--clr-primary-300);
}

.input-wrapper {
  position: relative;
  line-height: 14px;
  margin: 0 10px;
  display: inline-block;
  min-width: 250px;
  max-width: 12.5rem;
  height: 2.5rem;
  border-radius: 16px;
  background-color: var(--clr-primary-100);
}

.input-text {
  font-weight: 200;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: none;
  background: none;
  transition: all 160ms ease-in;
}

.input-text:hover {
  border-color: var(--clr-primary-400);
}

.input-text:focus {
  border-color: var(--clr-primary-400);
}

.input-text:focus~.input-label,
.input-text:not(:placeholder-shown)~.input-label,
.input-text:not(:placeholder-shown):focus~.input-label {
  top: -0.5rem;
  font-size: 0.8rem;
  left: 0.6rem;
  color: var(--clr-primary-500);
}

.input-text:not(:focus):not(:placeholder-shown)~.input-label {
  color: var(--clr-primary-400);
  background-color: var(--clr-primary-100);
  background: var(--clr-primary-100);
  background: -moz-linear-gradient(0deg, var(--clr-transp-100) 0%, var(--clr-primary-100) 35%, var(--clr-primary-100) 40%, var(--clr-transp-100) 65%);
  background: -webkit-linear-gradient(0deg, var(--clr-transp-100) 0%, var(--clr-primary-100) 35%, var(--clr-primary-100) 40%, var(--clr-transp-100) 65%);
  background: linear-gradient(0deg, var(--clr-transp-100) 0%, var(--clr-primary-100) 35%, var(--clr-primary-100) 40%, var(--clr-transp-100) 65%);
}

.input-label {
  position: absolute;
  font-weight: 200;
  left: 0.4rem;
  top: 0.8rem;
  padding: 0 0.5rem;
  color: var(--clr-primary-400);
  cursor: text;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in, color 200ms ease-in;
  background: var(--clr-primary-100);
  background: -moz-linear-gradient(0deg, var(--clr-transp-100) 0%, var(--clr-primary-100) 35%, var(--clr-primary-100) 40%, var(--clr-transp-100) 65%);
  background: -webkit-linear-gradient(0deg, var(--clr-transp-100) 0%, var(--clr-primary-100) 35%, var(--clr-primary-100) 40%, var(--clr-transp-100) 65%);
  background: linear-gradient(0deg, var(--clr-transp-100) 0%, var(--clr-primary-100) 35%, var(--clr-primary-100) 40%, var(--clr-transp-100) 65%);
}

/* ------- Nav bar & hamburger menu ------- */

.header-container {
  width: 95%;
  max-width: 80vw;
  margin: 0 40px;
}

header {
  background: var(--clr-primary-700);
  color: var(--clr-primary-200);
  padding: 1em 0;
  position: relative;
}

header::after {
  content: "";
  clear: both;
  display: block;
}

.logo {
  float: left;
  font-size: var(--fs-400);
  margin: 0;
  font-weight: 500;
  align-self: center;
  text-shadow: 0 3px 3px var(--clr-transp-500);
}

.logo span {
  font-weight: 700;
}

.logo:hover {
  cursor: pointer;
}


.primary-navigation {
  position: absolute;
  top: 100%;
  right: 0%;
  background: var(--clr-primary-600);
  transition: clip-path ease-in-out 700ms;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 1;
}

.primary-navigation[data-state="opened"] {
  animation: clipPathCircleOpen 750ms ease-in-out forwards;
  display: block;
}

.primary-navigation[data-state="closing"] {
  animation: clipPathCircleClose 750ms ease-in-out forwards;
}

.primary-navigation[data-state="closed"] {
  display: none;
}

@keyframes clipPathCircleOpen {
  0% {
    clip-path: circle(0% at top right);
  }

  100% {
    clip-path: circle(250% at top right);
  }
}

@keyframes clipPathCircleClose {
  0% {
    clip-path: circle(250% at top right);
  }

  100% {
    clip-path: circle(0% at top right);
  }
}

.site-nav li {
  border-bottom: 1px solid #575766;
  width: 100vw;
  text-align: center;
  padding: 0.6em 2em;
  color: var(--clr-primary-200);
  display: block;
  text-decoration: none;
}

.site-nav li:hover,
.site-nav li:focus {
  background: var(--clr-primary-500);
  color: var(--clr-primary-100);
  cursor: pointer;
}

.menu-toggle {
  padding: 1em;
  background: transparent;
  border: 0;
  position: absolute;
  top: 0.4em;
  right: 0.4em;
  cursor: pointer;
  box-shadow: none !important;
}

.menu-toggle:focus,
.menu-toggle:hover,
.menu-toggle:active {
  background: transparent;
}

.menu-toggle:focus-visible {
  outline: 4px solid #e4b363;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  background: #ebebd3;
  height: 3px;
  width: 1.75em;
  border-radius: 3px;
  transition: all ease-in-out 500ms;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}

[aria-expanded="true"] .hamburger {
  transform: rotate(45deg);
}

[aria-expanded="true"] .hamburger::before {
  opacity: 0;
}

[aria-expanded="true"] .hamburger::after {
  transform: translateY(-3px) rotate(-90deg);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* -------- Modals -------- */

.modal {
  margin: auto !important;
  padding: 1.5rem 2rem;
  border: none;
  border-radius: 16px;
  background-color: var(--clr-primary-200);
  text-align: center;
  box-shadow: 0 3px 3px 0 var(--clr-transp-900);
}

.modal:focus-visible {
  outline: none;
}

.modal[open]::backdrop {
  background: rgba(36, 36, 36, 0.2);
  backdrop-filter: blur(4px);
}

.modal[open]>div {
  display: grid;
  justify-items: center;
}

.dialog-wrapper {
  gap: 0.8em;
  text-align: center;
  align-items: center;
}

.modal[open] {
  animation: slide-up 500ms forwards, fade-in 1000ms forwards;
}

/* -------- Font awesome icons -------- */

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: var(--fs-600);
  color: var(--clr-primary-200);
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fa-home:before {
  content: "\f015"
}

.fa-credit-card:before {
  content: "\f09d"
}

.fa-exchange:before {
  content: "\f0ec"
}

.fa-history:before {
  content: "\f1da"
}

.fa-sign-out:before {
  content: "\f08b"
}

.fa-user:before {
  content: "\f007"
}

/*------------- DESKTOP -------------*/
@media (min-width: 850px) {
  header {
    position: fixed;
    padding: 0;
  }

  .header-container {
    width: 100vw;
    height: 57.59px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 0 2rem;
    margin: 0;
  }

  ul {
    max-width: fit-content;
  }

  button, .button {
    padding: 2px 50px;
  }


  .primary-navigation.primary-navigation {
    position: static;
    display: flex;
    background: transparent;
    justify-content: space-evenly;
    height: 57.59px;
    align-items: center;
  }

  .menu-toggle {
    display: none;
  }

  .site-nav li {
    border: 0;
    width: fit-content;
    text-wrap: nowrap;
    padding: 1em;
    margin-block: auto;
    min-height: 57.59px;
  }

  .header-container {
    max-width: 100vw;
  }

  .home-content-wrapper,
  .deposit-content-wrapper,
  .withdraw-content-wrapper,
  .transfer-content-wrapper,
  .transactions-content-wrapper {
    min-width: 600px;
  }

  .home-content-wrapper,
  .transfer-content-wrapper,
  .transactions-content-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--clr-transp-200);
    background: -moz-radial-gradient(circle, var(--clr-primary-100) 40%, var(--clr-transp-200) 100%);
    background: -webkit-radial-gradient(circle, var(--clr-primary-100) 40%, var(--clr-transp-200) 100%);
    background: radial-gradient(circle, var(--clr-primary-100) 40%, var(--clr-transp-200) 100%);
    border-radius: 32px;
    width: min(800px, 90vw);
    height: min(500px, 80vh);
    flex: 1 1 auto;
    position: fixed;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .transfer-content-wrapper {
    flex-direction: column;
  }

  .home-content-wrapper {
    padding: 1em 3em 1em 1em;
  }

  .home-left {
    display: grid;
    grid-template-columns: 0.1fr 1fr 1fr 0.1fr;
    gap: 1em;
  }

  .home-left-title {
    grid-column-end: 4;
  }

  .balance-wrapper {
    grid-column-start: 2;
    grid-column-end: 4;
    /* padding: 0.2em 4em; */
  }

  .home-left>.icon-button {
    display: grid;
    align-content: center;
    justify-content: center;
    border-radius: 16px;
    background-color: var(--clr-primary-700);
    color: var(--clr-primary-200);
    box-shadow: 0 3px 3px 0 var(--clr-transp-500);
    width: 120px;
    height: 120px;
  }

  .home-icon {
    text-align: center;
    font-size: var(--fs-700);
    align-self: center;
  }

  .home-left>:nth-child(3),
  .home-left>:nth-child(5) {
    grid-column-start: 2;
    grid-column-end: 3;
    place-self: start;
  }

  .home-left>:nth-child(4),
  .home-left>:nth-child(6) {
    grid-column-start: 3;
    grid-column-end: 4;
    place-self: end;
  }

  .fa {
    font-size: var(--fs-700);
  }

  .home-right {
    padding: 1em;
    height: 90%;
  }

  .transactions-content-wrapper {
    padding: 2em;
    display: grid;
  }
}